body {
  min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

html {
  height: 100%;
}

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

#nounoufinder{
  font-size: 70;
  color:#6C1D38;
}

#description{
  margin-left: 32.5%;
}

.Bouton{
  padding-left: 90%;
}

#blablacar{
  margin-left: 233px;

}

#accueil{
  margin-left: 37%;
}

.administration {
  background-color: #E8F8F5 ;
}

#profil{
  background-color: pink;
}

.categorieadmin {
  text-align: center;
}

.categorie{
  color: black;
  font-size: 30px;
}

.listefonction {
font-size: 20px;
text-decoration: underline;
}

.fc-view-container {
  background-color: white;
}