#nounoufinder{
  margin-left: 560px;
font-size: 70;}

#description{
  margin-left: 255px;
}
 .Bouton{
   padding-left: 85%
 }

#blablacar{
  margin-left: 233px;

}

#admin{

background-color: #E8F8F5 ;
}

#categorieadmin{

  text-align: center;
}

#categorie{
  color: #154360;
  font-size: 30px

}
#listefonctionadmin{
font-size: 20px;
text-decoration: underline;
}
